In [1]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..", "..")))

In [ ]:
%pip install google-cloud-bigquery
%pip install pandas
%pip install db-dtypes
%pip install pandas-gbq

In [ ]:
from google.cloud import bigquery
import pandas as pd

from utils.export import export_table

In [ ]:
# Initialiser le client BigQuery
client = bigquery.Client.from_service_account_json('../../key.json')

In [ ]:
type = ['purchase', 'sale', 'dispute', 'credit_note']
df = pd.DataFrame(type)
df.columns = ['transaction_type']
display(df)

  transaction_type
0         purchase
1             sale
2          dispute
3      credit_note

In [ ]:
# Variables pour BigQuery
dataset_name = "warehouse" # Nom du dataset à créer/exporter
table_name = "transaction_type" # Nom de la table à créer

In [ ]:
export_table(client, df, dataset_name, table_name)

Dataset warehouse_test déjà existant.

100%|██████████| 1/1 [00:00<00:00, 13025.79it/s]